<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/apple-whole-solid.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Mercado Web
    </a>
  </div>
</nav>