<div class="col my-2">
    <div class="card text-center" style="width: 14rem;">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">{{productos.nombre}}</h5>
            </div>
            <div class="card-body">
                <img src="{{productos.ruta}}" class="card-img-top" alt="...">
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Comprar Ahora</a>
            </div>
        </div>
    </div>
</div>