<div class="card w-25 my-5 mx-5">
    <div class="card text-center">
        <div class="card-header">
           {{productos.nombre}}
        </div>
        <div class="card-body">
{{productos.ruta}}
        </div>
        <div class="card-footer text-muted">
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
        </div>
    </div>
</div>