<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <header>
        {{> Navbar}}
    </header>
    
        <div class="row row-cols-3">
        {{#each frutas}}
        {{> Productos
        productos = this
        }}
        {{/each}}
    
</div>
    <script src='/jquery/jquery.js'></script>
    <script src='bootstrap/bootstrap.js'></script>
</body>

</html>